<div class="container mx-auto px-4">
  <!-- Swiper Slider -->
  <section id="product-slider">
    <div class="main-slider swiper-container">
      <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide">
          <img src="<%= asset_path('main-slider/10.jpg') %>" alt="Product 1">
          <div class="swiper-slide-content">
            <h2 class="text-3xl md:text-7xl font-bold text-white mb-2 md:mb-4">Desktop Systems</h2>
            <p class="mb-4 text-white md:text-2xl">Unleash Unmatched Performance with Our Top-Tier Desktops.</p>
            <a href="<%= products_path %>" class="bg-primary hover:bg-transparent text-white hover:text-white border border-transparent hover:border-white font-semibold px-4 py-2 rounded-full inline-block">Shop now</a>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="swiper-slide">
          <img src="<%= asset_path('main-slider/9.jpg') %>" alt="Product 2">
          <div class="swiper-slide-content">
            <h2 class="text-3xl md:text-7xl font-bold text-white mb-2 md:mb-4">Laptops / Notebooks</h2>
            <p class="mb-4 text-white md:text-2xl">Stay Connected and Productive with Our Premium Laptops.</p>
            <a href="<%= products_path %>" class="bg-white hover:bg-transparent text-black hover:text-white font-semibold px-4 py-2 rounded-full inline-block border border-transparent hover:border-white">Shop now</a>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="swiper-slide">
          <img src="<%= asset_path('main-slider/12.webp') %>" alt="Product 3">
          <div class="swiper-slide-content">
            <h2 class="text-3xl md:text-7xl font-bold text-white mb-2 md:mb-4">Computer Peripherals</h2>
            <p class="mb-4 text-white md:text-2xl">Perfect Precision: Discover Our Top-Rated Keyboards and Mice.</p>
            <a href="<%= products_path %>" class="bg-primary hover:bg-transparent text-white hover:text-white border border-transparent hover:border-white font-semibold px-4 py-2 rounded-full inline-block">Shop now</a>
          </div>
        </div>
      </div>
      <!-- Slider Pagination -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>
</div>
