<%# app/views/products/index.html.erb %>

<div class="container mx-auto">
  <div class="flex flex-col md:flex-row justify-between items-center py-4">
    <div class="flex items-center space-x-4">
      <%= link_to 'Show On Sale', products_path(filter: 'on_sale'), class: 'bg-primary text-white hover:bg-transparent hover:text-primary border hover:border-primary py-2 px-4 rounded-full focus:outline-none' %>
    </div>
    <div class="flex mt-5 md:mt-0 space-x-4">
      <%= form_with url: products_path, method: :get, local: true do %>
        <%= select_tag :sort, options_for_select([['Sort by Latest', 'latest'], ['Sort by A-Z', 'a-z']], params[:sort]), class: 'block appearance-none w-full bg-white border hover:border-primary px-4 py-2 pr-8 rounded-full shadow leading-tight focus:outline-none focus:shadow-outline' %>
        <%= hidden_field_tag :filter, params[:filter] %>
        <%= hidden_field_tag :categories, params[:categories]&.join(',') %>
        <%= hidden_field_tag :category, params[:category] %>
        <%= hidden_field_tag :updated, params[:updated] %>
        <%= submit_tag 'Sort', class: 'hidden' %>
      <% end %>
    </div>
  </div>

  <div class="flex flex-col md:flex-row">
    <div id="filters" class="w-full md:w-1/4 p-4">
      <h3 class="text-lg font-semibold mb-6">Category</h3>
      <%= form_with url: products_path, method: :get, local: true, id: 'category-filter-form' do %>
        <div class="space-y-2">
          <% @categories.each do |category| %>
            <label class="flex items-center">
              <%# Ensure checkbox is checked if category is present in params %>
              <%= check_box_tag 'categories[]', category.id, params[:categories]&.include?(category.id.to_s) || (params[:category] == category.name), class: 'form-checkbox custom-checkbox', onchange: 'document.getElementById("category-filter-form").submit();' %>
              <span class="ml-2"><%= category.name %></span>
            </label>
          <% end %>
        </div>
        <h3 class="text-lg font-semibold mb-6 mt-6">Last Updated</h3>
        <label class="flex items-center">
          <%= radio_button_tag 'updated', '', params[:updated].blank?, class: 'form-radio custom-radio', onchange: 'document.getElementById("category-filter-form").submit();' %>
          <span class="ml-2">Any time</span>
        </label>
        <label class="flex items-center">
          <%= radio_button_tag 'updated', 'recently_updated', params[:updated] == 'recently_updated', class: 'form-radio custom-radio', onchange: 'document.getElementById("category-filter-form").submit();' %>
          <span class="ml-2">Recently updated</span>
        </label>
        <%= hidden_field_tag :sort, params[:sort] %>
        <%= hidden_field_tag :filter, params[:filter] %>
        <%= hidden_field_tag :category, params[:category] %>
        <%= submit_tag 'Apply Filters', class: 'hidden' %>
      <% end %>
    </div>
    <div class="w-full md:w-3/4 p-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <% @products.each do |product| %>
          <div class="bg-white p-4 rounded-lg shadow">
            <%= image_tag product.image_url.present? ? product.image_url : '/assets/defaultimage.png', class: 'w-full object-cover mb-4 rounded-lg' %>
            <%= link_to product.name, product_path(product), class: 'text-lg font-semibold mb-2' %>
            <p class="my-2"><%= product.category.name %></p>
            <div class="flex items-center mb-4">
              <span class="text-lg font-bold text-primary"><%= number_to_currency(product.price) %></span>
              <% if product.tags.include?(Tag.find_by(name: 'on_sale')) %>
                <% if product.respond_to?(:original_price) && product.original_price.present? %>
                  <span class="text-sm line-through ml-2"><%= number_to_currency(product.original_price) %></span>
                <% end %>
              <% end %>
            </div>
            <%= button_to 'Add to Cart', '#', class: 'bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full' %>
          </div>
        <% end %>
      </div>
      <div class="flex justify-center mt-8">
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>
