<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RailsEcommerceProject</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <%= javascript_include_tag 'script', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application.tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-gray-100">
  <!-- Header -->
  <header class="bg-gray-dark sticky top-0 z-50">
    <div class="container mx-auto flex justify-between items-center py-4">
      <!-- Left section: Logo -->
      <a href="/" class="flex items-center">
        <div>
          <img src="<%= asset_path('JemTech_transparent.png') %>" alt="Logo" class="h-14 w-auto mr-4">
        </div>
      </a>

      <!-- Hamburger menu (for mobile) -->
      <div class="flex lg:hidden">
        <button id="hamburger" class="text-white focus:outline-none">
          <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>

      <!-- Center section: Menu -->
      <nav class="hidden lg:flex md:flex-grow justify-center">
        <ul class="flex justify-center space-x-4 text-white font-manrope">
          <li><a href="/" class="hover:text-secondary font-semibold">Home</a></li>
          <li class="relative group" x-data="{ open: false }">
            <a @mouseover="open = true" @mouseleave="open = false" href="#" class="hover:text-secondary font-semibold flex items-center">
              Computer Systems
              <i :class="open ? 'fas fa-chevron-up ml-1 text-xs' : 'fas fa-chevron-down ml-1 text-xs'"></i>
            </a>
            <ul 
              x-show="open"
              @mouseover="open = true"
              @mouseleave="open = false"
              class="absolute left-0 bg-white text-black space-y-2 mt-1 p-2 rounded shadow-lg"
              x-transition:enter="transition ease-out duration-100"
              x-transition:enter-start="opacity-0 scale-90"
              x-transition:enter-end="opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-100"
              x-transition:leave-start="opacity-100 scale-100"
              x-transition:leave-end="opacity-0 scale-90"
            >
              <li><a href="<%= products_path(category: 'Desktop Systems') %>" class="min-w-40 block px-4 py-2 hover:bg-primary hover:text-white rounded">Desktop Systems</a></li>
              <li><a href="<%= products_path(category: 'Laptops / Notebooks') %>" class="min-w-40 block px-4 py-2 hover:bg-primary hover:text-white rounded">Laptops / Notebooks</a></li>
            </ul>
          </li>
          <li class="relative group" x-data="{ open: false }">
            <a @mouseover="open = true" @mouseleave="open = false" href="#" class="hover:text-secondary font-semibold flex items-center">
              Computer Peripherals
              <i :class="open ? 'fas fa-chevron-up ml-1 text-xs' : 'fas fa-chevron-down ml-1 text-xs'"></i>
            </a>
            <ul
              x-show="open"
              @mouseover="open = true"
              @mouseleave="open = false"
              class="absolute left-0 bg-white text-black space-y-2 mt-1 p-2 rounded shadow-lg"
              x-transition:enter="transition ease-out duration-100"
              x-transition:enter-start="opacity-0 scale-90"
              x-transition:enter-end="opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-100"
              x-transition:leave-start="opacity-100 scale-100"
              x-transition:leave-end="opacity-0 scale-90"
            >
              <li><a href="<%= products_path(category: 'Gaming Monitors') %>" class="min-w-40 block px-4 py-2 hover:bg-primary hover:text-white rounded">Gaming Monitors</a></li>
              <li><a href="<%= products_path(category: 'Keyboards & Mice') %>" class="min-w-40 block px-4 py-2 hover:bg-primary hover:text-white rounded">Keyboards & Mice</a></li>
            </ul>
          </li>
          <li><a href="<%= products_path %>" class="hover:text-secondary font-semibold">Shop</a></li>
          <li><a href="<%= products_path %>" class="hover:text-secondary font-semibold">Checkout</a></li>
        </ul>
      </nav>
      <!-- Right section: Buttons (for desktop) -->
      <div class="hidden lg:flex items-center space-x-4 relative">
        <% if customer_signed_in? %>
  <a href="#" class="bg-primary border border-primary hover:bg-transparent text-white hover:text-primary font-semibold px-4 py-2 rounded-full inline-block">
    <%= current_customer.email %>
  </a>
  <%= form_with url: destroy_customer_session_path, method: :delete, local: true do %>
    <button type="submit" class="bg-primary border border-primary hover:bg-transparent text-white hover:text-primary font-semibold px-4 py-2 rounded-full inline-block">
      Logout
    </button>
  <% end %>
<% else %>
  <a href="<%= new_customer_registration_path %>" class="bg-primary border border-primary hover:bg-transparent text-white hover:text-primary font-semibold px-4 py-2 rounded-full inline-block">Register</a>
  <a href="<%= new_customer_session_path %>" class="bg-primary border border-primary hover:bg-transparent text-white hover:text-primary font-semibold px-4 py-2 rounded-full inline-block">Login</a>
<% end %>

        <div class="relative group cart-wrapper">
          <a href="/cart">
            <img src="<%= asset_path('cart-shopping.svg') %>" alt="Cart" class="h-6 w-6 group-hover:scale-120">
          </a>
          <!-- Cart dropdown -->
          <div class="absolute right-0 mt-1 w-80 bg-white shadow-lg p-4 rounded hidden group-hover:block">
            <div class="space-y-4">
              <!-- product item -->
              <div class="flex items-center justify-between pb-4 border-b border-gray-line">
                <div class="flex items-center">
                  <img src="<%= asset_path('single-product/1.jpg') %>" alt="Product" class="h-12 w-12 object-cover rounded mr-2">
                  <div>
                    <p class="font-semibold">Summer black dress</p>
                    <p class="text-sm">Quantity: 1</p>
                  </div>
                </div>
                <p class="font-semibold">$25.00</p>
              </div>
              <!-- product item -->
              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <img src="<%= asset_path('single-product/2.jpg') %>" alt="Product" class="h-12 w-12 object-cover rounded mr-2">
                  <div>
                    <p class="font-semibold">Black suit</p>
                    <p class="text-sm">Quantity: 1</p>
                  </div>
                </div>
                <p class="font-semibold">$125.00</p>
              </div>
            </div>
            <a href="/cart" class="block text-center mt-4 border border-primary bg-primary hover:bg-transparent text-white hover:text-primary py-2 rounded-full font-semibold">Go to Cart</a>
          </div>
        </div>
        <a id="search-icon" href="javascript:void(0);" class="text-white hover:text-secondary group">
          <img src="<%= asset_path('search-icon.svg') %>" alt="Search" class="h-6 w-6 transition-transform transform group-hover:scale-120">
        </a>
        <!-- Search field -->
        <div id="search-field" class="hidden absolute top-full right-0 mt-2 bg-white shadow-lg p-2 rounded" style="max-width: 500px;">
          <%= form_with url: search_products_path, method: :get, local: true, class: "flex flex-wrap items-center" do %>
            <%= text_field_tag :keyword, params[:keyword], placeholder: "Search for products...", class: "flex-grow p-2 border border-gray-300 rounded", style: "min-width: 150px; padding: 10px; margin-right: 10px;" %>
            <% if @categories %>
              <%= select_tag :category, options_from_collection_for_select(@categories, :id, :name, params[:category]), include_blank: "All Products", class: "p-2 border border-gray-300 rounded", style: "padding: 10px; margin-right: 10px;" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <main class="container mx-auto py-8">
    <%= yield %>
  </main>

  <!-- Footer -->
  <footer class="border-t border-gray-line">
    <!-- Top part -->
    <div class="container mx-auto px-4 py-10">
      <div class="flex flex-wrap -mx-4">
        <!-- Menu 1 -->
        <div class="w-full sm:w-1/6 px-4 mb-8">
          <h3 class="text-lg font-semibold mb-4">Shop</h3>
          <ul>
            <li><a href="<%= products_path %>" class="hover:text-primary">Shop</a></li>
            <li><a href="<%= products_path(category: 'Desktop Systems') %>" class="hover:text-primary">Desktop Systems</a></li>
            <li><a href="<%= products_path(category: 'Laptops / Notebooks') %>" class="hover:text-primary">Laptops / Notebooks</a></li>
            <li><a href="<%= products_path(category: 'Gaming Monitors') %>" class="hover:text-primary">Gaming Monitors</a></li>
            <li><a href="<%= products_path(category: 'Keyboards & Mice') %>" class="hover:text-primary">Keyboards & Mice</a></li>
          </ul>
        </div>
        <!-- Menu 2 -->
        <div class="w-full sm:w-1/6 px-4 mb-8">
          <h3 class="text-lg font-semibold mb-4">Pages</h3>
          <ul>
            <li><a href="<%= products_path %>" class="hover:text-primary">Shop</a></li>
            <li><a href="<%= products_path %>" class="hover:text-primary">Checkout</a></li>
            <li><a href="<%= about_path %>" class="hover:text-primary">About</a></li>
            <li><a href="<%= contact_path %>" class="hover:text-primary">Contact</a></li>
          </ul>
        </div>
        <!-- Menu 3 -->
        <div class="w-full sm:w-1/6 px-4 mb-8">
          <h3 class="text-lg font-semibold mb-4">Account</h3>
          <ul>
            <li><a href="/cart.html" class="hover:text-primary">Cart</a></li>
            <% if customer_signed_in? %>
              <li><a href="#" class="hover:text-primary"><%= current_customer.email %></a></li>
              <li><a href="<%= destroy_customer_session_path %>" data-method="delete" class="hover:text-primary">Logout</a></li>
            <% else %>
              <li><a href="<%= new_customer_registration_path %>" class="hover:text-primary">Registration</a></li>
              <li><a href="<%= new_customer_session_path %>" class="hover:text-primary">Login</a></li>
            <% end %>
          </ul>
        </div>
        <!-- Social Media -->
        <div class="w-full sm:w-1/6 px-4 mb-8">
          <h3 class="text-lg font-semibold mb-4">Follow Us</h3>
          <ul>
            <li class="flex items-center mb-2">
              <img src="<%= asset_path('social_icons/facebook.svg') %>" alt="Facebook" class="w-4 h-4 transition-transform transform hover:scale-110 mr-2">
              <a href="https://www.facebook.com/profile.php?id=61562346182938" class="hover:text-primary">Facebook</a>
            </li>
            <li class="flex items-center mb-2">
              <img src="<%= asset_path('social_icons/twitter.svg') %>" alt="Twitter" class="w-4 h-4 transition-transform transform hover:scale-110 mr-2">
              <a href="https://x.com/JemtechShop" class="hover:text-primary">Twitter</a>
            </li>
            <li class="flex items-center mb-2">
              <img src="<%= asset_path('social_icons/instagram.svg') %>" alt="Instagram" class="w-4 h-4 transition-transform transform hover:scale-110 mr-2">
              <a href="#" class="hover:text-primary">Instagram</a>
            </li>
            <li class="flex items-center mb-2">
              <img src="<%= asset_path('social_icons/pinterest.svg') %>" alt="Pinterest" class="w-4 h-4 transition-transform transform hover:scale-110 mr-2">
              <a href="#" class="hover:text-primary">Pinterest</a>
            </li>
            <li class="flex items-center mb-2">
              <img src="<%= asset_path('social_icons/youtube.svg') %>" alt="YouTube" class="w-4 h-4 transition-transform transform hover:scale-110 mr-2">
              <a href="#" class="hover:text-primary">YouTube</a>
            </li>
          </ul>
        </div>
        <!-- Contact Information -->
        <div class="w-full sm:w-2/6 px-4 mb-8">
          <h3 class="text-lg font-semibold mb-4">Contact Us</h3>
          <p><img src="<%= asset_path('JemTech_transparent2.png') %>" alt="Logo" class="h-[60px] mb-4"></p>
          <p>316 Ross Avenue, Winnipeg, Canada</p>
          <p class="text-xl font-bold my-4">Phone: (431) 556-4625</p>
          <a href="mailto:jemtech.shop@gmail.com" class="underline">Email: jemtech.shop@gmail.com</a>
        </div>
      </div>
    </div>

    <!-- Bottom part -->
    <div class="py-6 border-t border-gray-line">
      <div class="container mx-auto px-4 flex flex-wrap justify-between items-center">
        <!-- Copyright and Links -->
        <div class="w-full lg:w-3/4 text-center lg:text-left mb-4 lg:mb-0">
          <p class="mb-2 font-bold">&copy; 2024 JemTech. All rights reserved.</p>
          <ul class="flex justify-center lg:justify-start space-x-4 mb-4 lg:mb-0">
            <li><a href="#" class="hover:text-primary">Privacy Policy</a></li>
            <li><a href="#" class="hover:text-primary">Terms of Service</a></li>
            <li><a href="#" class="hover:text-primary">FAQ</a></li>
          </ul>
          <p class="text-sm mt-4">
Welcome to Jemtech Computer Store, Winnipeg's premier technology retailer offering a wide range of quality computer products and accessories, supported by over 10 years of experience, a dedicated team, and an intuitive e-commerce platform for all your tech needs.</p>
        </div>
        <!-- Payment Icons -->
        <div class="w-full lg:w-1/4 text-center lg:text-right">
          <img src="<%= asset_path('social_icons/paypal.svg') %>" alt="PayPal" class="inline-block h-8 mr-2">
          <img src="<%= asset_path('social_icons/stripe.svg') %>" alt="Stripe" class="inline-block h-8 mr-2">
          <img src="<%= asset_path('social_icons/visa.svg') %>" alt="Visa" class="inline-block h-8">
        </div>
      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>  
</body>
</html>
